@model MDisasaterDampener.Models.RegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Disasater Dampener Registation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MDisasaterDampener.styles.css" asp-append-version="true" />
</head>
<body>

<div class="register_body">
<div class="register_container">
    <div class="left">
        <h3>MDD Registation</h3>
                <form asp-action="ProcessRegistration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="firstName" class="register_lable">First Name</label>
                <input asp-for="firstName" class="register_input" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastName" class="register_lable">Last Name</label>
                <input asp-for="lastName" class="register_input" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="username" class="register_lable"></label>
                <input asp-for="username" class="register_input" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="register_lable"></label>
                <input asp-for="email" class="register_input" inputmode="email" type="email" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="register_lable"></label>
                <input asp-for="password" class="register_input" type="password" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="confirmPassword" class="register_lable">Confirm password</label>
                <input asp-for="confirmPassword" class="register_input" type="password"/>
                <span asp-validation-for="confirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="register_button" />
            </div>
        </form>
    </div>
            <div class="right_image">

    
    </div>
</div>

</div>
</body></html>


