<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MDisasaterDampener</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MDisasaterDampener.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MDD</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Home" class="nav-link">Home</a>

                    </li>
                    <li class="nav-item">
                        <a asp-action="ReliefEffort" asp-controller="Relief" class="nav-link">Relief Efforts</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="VolunteerCenter" asp-controller="Volunteer" class="nav-link">Volunteer Center</a>
                    </li>
                  
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Donation
                        </a>
                        <ul class="dropdown-menu">
                            <li>  <a asp-action="DonateFood" asp-controller="Donation" class="dropdown-item">Donate Food </a></li>
                            <li>  <a asp-action="DonateMedicine" asp-controller="Donation" class="dropdown-item">Donate Medicine </a></li>
                            <li>  <a asp-action="DonateClothes" asp-controller="Donation" class="dropdown-item">Donate Clothes </a></li>
                     
                        </ul>
                    </li>
                 
                </ul>


                <a asp-action="AccountManagement" asp-controller="User" class="manage_user_btn" title="Edit">Manage account</a>


            </div>
        </div>
    </nav>

    @RenderBody()



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
