@model MDisasaterDampener.Models.ReliefViewModel

@{
    ViewData["Title"] = "Relief Effort";
}

<h1>Relief Effort</h1>

<div class="relief_container">
    <p>
        <a asp-action="CreateNewReliefEffort" asp-controller="Relief" class="relief_user_btn">Create New Relief Effort</a>
    </p>

</div>



<div class="table_container">
    <table >
        <thead>
            <tr class="table_header">
                <th >Active Relief Efforts</th>

            </tr>
        </thead>
        <tbody>
            @if (Model.reliefEfforts != null && Model.reliefEfforts.Any())
            {

                @foreach (var relief in Model.reliefEfforts)
                {

                    <tr class="table_row">
                        <td class="table_column">
                            <h2> @relief.Title</h2>
                            <p>@relief.Description</p>
                        </td>
                    </tr>

                }
            }
            else
            {
               <h2>Sorry there are no active relief efforts</h2>
            }
        </tbody>
    </table>
</div>


