
@model MDisasaterDampener.Models.VolunteerRequestViewModel
@{
    ViewData["Title"] = "Volunteer Center";
}

<h1>Volunteer Center</h1>
<div class="volunteer_container">
    <p>
        <a asp-action="CreateVolunteerRequest" asp-controller="Volunteer" class="volunteer_req_btn">Create Volunteer Request</a>
    </p>

</div>
